@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
</head>
<body>
    <div>
       @ViewBag.Greeting, world (from the view)</br>
       @Html.ActionLink("RSVP Now","RsvpForm")
    </div>
</body>
</html>
